<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccblog.mapper.notice.NoticeCountMapper">
    <!-- 批量插入或更新未读计数 -->
    <insert id="upsertNoticeCountBatch">
        INSERT INTO notice_count
        (user_id, unread_system,unread_reply, unread_comment,
        unread_like,unread_collect, unread_follow,update_time)
        VALUES
        <foreach collection="noticeCountList" item="item" separator=",">
            (#{item.userId},
            <choose>
                <when test="item.unreadSystem != null">#{item.unreadSystem}</when>
                <otherwise>0</otherwise>
            </choose>,
            <choose>
                <when test="item.unreadReply != null">#{item.unreadReply}</when>
                <otherwise>0</otherwise>
            </choose>,
            <choose>
                <when test="item.unreadComment != null">#{item.unreadComment}</when>
                <otherwise>0</otherwise>
            </choose>,
            <choose>
                <when test="item.unreadLike != null">#{item.unreadLike}</when>
                <otherwise>0</otherwise>
            </choose>,
            <choose>
                <when test="item.unreadCollect != null">#{item.unreadCollect}</when>
                <otherwise>0</otherwise>
            </choose>,
            <choose>
                <when test="item.unreadFollow != null">#{item.unreadFollow}</when>
                <otherwise>0</otherwise>
            </choose>,
            NOW())
        </foreach>
        ON DUPLICATE KEY UPDATE
        unread_system  = VALUES(unread_system),
        unread_reply    = VALUES(unread_reply),
        unread_comment  = VALUES(unread_comment),
        unread_like     = VALUES(unread_like),
        unread_collect  = VALUES(unread_collect),
        unread_follow   = VALUES(unread_follow),
        update_time=NOW()
    </insert>


</mapper>
