<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccblog.mapper.article.CatgeoryMapper">
    <select id="listByIds" resultType="com.ccblog.dto.article.CategoryDTO">
<!--        注意rank和status是官方保留关键字-->
        select c.id categoryId,c.category_name category, `rank`,`status` from category c
        <choose>
<!--            如果满足那么拼接否则返回空-->
            <when test="categoryIds != null and categoryIds.size() > 0">
                WHERE c.id IN
                <foreach collection="categoryIds" item="categoryId"
                         open="(" close=")" separator=",">
                    #{categoryId}
                </foreach>
            </when>
            <otherwise>
                WHERE 1 = 0   <!-- 永远假，空参数时直接返回空结果集 -->
            </otherwise>
        </choose>

    </select>
</mapper>
