<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccblog.mapper.user.LoginMapper">
    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
        <!--   useGeneratedKeys="true" keyProperty="id" 表示将id赋值回去从而可以通过getId拿到     -->
        insert into user(email,user_name,password,login_type)
        values
        (#{email},#{userName},#{password},#{loginType})
    </insert>

    <insert id="saveUserInfo">
        insert into user_info(user_id, user_name, photo)
        values
        (#{userId},#{userName},#{photo})
    </insert>
</mapper>
