<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccblog.mapper.chat.ChatAiSessionMapper">
    <insert id="saveSession" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_ai_session
        (user_id,last_msg_time,title)
        VALUES
        (#{userId},#{lastMsgTime},#{title})
    </insert>

    <select id="listCursorChatSession">
        SELECT
        id AS sessionId,
        title
        FROM chat_ai_session
        <where>
            user_id = #{userId} AND deleted=0
            <![CDATA[
            AND id < #{cursorId}
            ]]>
        </where>
        ORDER BY id DESC
        LIMIT #{limit};
    </select>

    <insert id="updateChatSessionBatch">
        <foreach collection="chatAiSessions" item="s" separator=";">
            UPDATE chat_ai_session
            <set>
                <if test="s.title != null">
                    title = #{s.title},
                </if>
                <if test="s.seq != null">
                    seq = #{s.seq},
                </if>
                <if test="s.lastMsgTime != null">
                    last_msg_time = #{s.lastMsgTime},
                </if>
                <if test="s.deleted != null">
                    deleted = #{s.deleted},
                </if>
                <if test="s.lastMsgTime != null">
                    last_msg_time = #{s.lastMsgTime},
                </if>
                update_time = NOW()
            </set>
            WHERE id = #{s.id}
            AND user_id = #{s.userId}   <!-- 防止越权 -->
        </foreach>
    </insert>

</mapper>
